$footer-height:           215px;

.body-wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        content: '';
        display: block;
        height: $footer-height;
    }
}

.footer {
    border-top: 1px solid $color-2;
    background: white;
    padding: 50px 40px 40px;
    height: $footer-height;
}
