$text-size-h5: .8em;
html, body {
    background: $light-wash;
}

.text-center {
    text-align: center;
}

.container {
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: $color-2;
    position: relative;
    h1 &:after {
        border-bottom: 1px solid $accent; // Underline
    }

    &:after {
        text-align: justify;
        display: inline-block;
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: $accent;
        min-height: 100%;
        width: 0;
        max-width: 100%;
        transition: .3s;
    }

    &:hover {
        color: $color-2;
        &:after {
            width: 100%;
        }
    }
}

.text-small {
    font-size: $text-size-h5;
}

h5, .h5 {
    text-transform: uppercase;
    font-size: $text-size-h5;
}
